<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LabelAddServlet</display-name>
    <servlet-name>LabelAddServlet</servlet-name>
    <servlet-class>com.servlets.LabelAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelAddServlet</servlet-name>
    <url-pattern>/LabelAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabelEditServlet</display-name>
    <servlet-name>LabelEditServlet</servlet-name>
    <servlet-class>com.servlets.LabelEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelEditServlet</servlet-name>
    <url-pattern>/LabelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabelDeleteServlet</display-name>
    <servlet-name>LabelDeleteServlet</servlet-name>
    <servlet-class>com.servlets.LabelDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelDeleteServlet</servlet-name>
    <url-pattern>/LabelDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteToNotebookServlet</display-name>
    <servlet-name>NoteToNotebookServlet</servlet-name>
    <servlet-class>com.servlets.NoteToNotebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteToNotebookServlet</servlet-name>
    <url-pattern>/NoteToNotebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteToLabelServlet</display-name>
    <servlet-name>NoteToLabelServlet</servlet-name>
    <servlet-class>com.servlets.NoteToLabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteToLabelServlet</servlet-name>
    <url-pattern>/NoteToLabelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoverEditServlet</display-name>
    <servlet-name>CoverEditServlet</servlet-name>
    <servlet-class>com.servlets.CoverEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoverEditServlet</servlet-name>
    <url-pattern>/CoverEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoverAddServlet</display-name>
    <servlet-name>CoverAddServlet</servlet-name>
    <servlet-class>com.servlets.CoverAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoverAddServlet</servlet-name>
    <url-pattern>/CoverAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotebookToCoverServlet</display-name>
    <servlet-name>NotebookToCoverServlet</servlet-name>
    <servlet-class>com.servlets.NotebookToCoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotebookToCoverServlet</servlet-name>
    <url-pattern>/NotebookToCoverServlet</url-pattern>
  </servlet-mapping>
</web-app>